[user]
  name = "hqkhan"
  email = "hqkhan2008@gmail.com"

[color]
	ui = auto

[core]
	; pager = less -FMRiX
	pager = delta
	editor = nvim
  whitespace   = cr-at-eol
  ; git prints non-ASCII file names in quoted octal notation,
  ; i.e. "\nnn\nnn...", disable to display UTF-8 chars
  quotepath    = off

[pull]
  rebase = true
  ;default pull is fast-forward only
  ;use `git pr` to pull --rebase
  ; ff = only

[apply]
  whitespace = warn

[help]
  ; do not automatically run autocorrect commands
  autocorrect = 0

[push]
	default = simple

[commit]
  verbose = true

; [diff]
;   tool = vimdiff
;   renames = copy

; [difftool "vimdiff"]
;   cmd = nvim -d $LOCAL $REMOTE

; [merge]
;   tool = vimdiff
  ;conflictStyle = diff3

; [mergetool "vimdiff"]
;   cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[color]
  diff   = auto
  status = auto
  branch = auto
  ui     = true

[alias]
  a     = add
  ai    = add --interactive
  ap    = add --patch
  b     = branch 
  br    = branch
  ba    = branch --all
  bd    = branch --delete
  c     = commit
  cm    = commit -m
  cam   = commit -am
  ca    = commit --amend
  fx    = commit --fixup
  co    = checkout
  cb    = checkout -b
  cp    = cherry-pick
  d     = diff
  ds    = diff --stat
  dc    = diff --cached
  dcs   = diff --cached --stat
  f     = fetch
  fo    = fetch origin
  l     = log --pretty=oneline
  lp    = log --patch
  ls    = log --stat
  lg    = log --pretty=format:'%C(yellow)%h%Creset %Cgreen(%><(12)%cr%><|(12))%Creset %s %C(blue)<%an>%Creset'
  m     = merge
  ma    = merge --abort
  mt    = mergetool
  pl    = pull --ff-only
  ps    = push
  psf   = push --force
  pr    = pull --rebase=true
  rc    = rebase --continue
  rs    = rebase --skip
  ra    = rebase --abort
  ri    = rebase --interactive
  rr    = rebase --interactive --root
  ria   = rebase --interactive --autosquash
  rv    = remote --verbose
  s     = status
  st    = status -sbu
  sb    = status -sb
  sta   = stash
  sa    = stash apply
  sl    = stash list
  sp    = stash pop
  ss    = stash show
  ;undo-commit   undo last commit, preserve local changes
  ;undo-staging  unstage all changes, preserve local changes
  ;reset-hard    discard all changes since last commit
  ;reset-origin  reset repository to remote origin
  ;reset-pull    discard local changes & pull from origin
  undo-commit   = reset --mixed HEAD^1
  undo-staging  = reset --mixed HEAD
  reset-hard    = reset --hard HEAD
  reset-origin  = reset --hard origin/master
  reset-pull    = "!f(){ git reset --hard HEAD && git pull --rebase; }; f"
  squash-all    = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"

[delta]
    dark = true
    file-style = "#d4bfff" bold "#100E23"
    hunk-header-style = omit
    line-numbers = true
    line-numbers-left-format = "{nm:>3}┊"
    line-numbers-left-style = "#ff5370" 
    line-numbers-minus-style = "#ff5370" italic "#585273"
    line-numbers-plus-style = "#A1EFD3" italic "#585273"
    ; line-numbers-minus-style = "#ff5370" italic "#100E23"
    ; line-numbers-plus-style = "#A1EFD3" italic "#100E23"
    line-numbers-right-format = "{np:>3}┊"
    line-numbers-right-style = "#A1EFD3"
    line-numbers-zero-style = "#999999" italic
    minus-emph-style = "#ff5370" bold "#585273"
    ; minus-emph-style = "#ff5370" bold "#100E23"
    minus-style = "#ff5370"
    plus-emph-style = "#A1EFD3" bold "#585273"
    ; plus-emph-style = "#A1EFD3" bold "#100E23"
    plus-style = "#A1EFD3"
    whitespace-error-style = "#280050" reverse
    zero-style = "#656A7c"
